/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .nhcol-evaluation-input .inline-heading {
  display: inline-block;
  padding: 0 0.75rem 0.75rem;
  font-weight: 300;
  border-bottom: 1px dashed #dfdfdf;
  width: 100%;
 }

.nhcol-evaluation-input .user-input,
.nhcol-evaluation-input .user-input td,
.nhcol-evaluation-input .result,
.nhcol-evaluation-input .result td {
  border: none;
}

.nhcol-evaluation-input .rating a,
.nhcol-evaluation-input .rating a:hover {
  text-decoration: none !important;
  box-shadow: none !important;
  border: none !important;
  outline: 0 !important;
  color: #7cb342;
}
.nhcol-evaluation-input .rating a:hover {
  opacity: 0.5;
}
.nhcol-evaluation-input .rating i {
  font-size: 30px;
}
.nhcol-evaluation-input em {
  display: block;
  color: #777;
}
.nhcol-evaluation-input .reset {
  text-decoration: none !important;
  box-shadow: none !important;
  border: none !important;
  outline: 0 !important;
  color: #888;
}

.nhcol-evaluation-input .full {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.nhcol-evaluation-input .full label {
  font-size: 13px;
  margin-bottom: 4px;
  display: inline-block;
}
.nhcol-evaluation-input .full li {
  margin-bottom: 20px;
}
.nhcol-evaluation-input .button:hover,
.nhcol-evaluation-input .button,
.evaluation-pagination a,
.evaluation-pagination span.current {
  font-family: 'Philosopher',sans-serif;
    color: #333;
    font-weight: 400;
    padding: 0.375rem 1.75rem 0.5rem;
    display: inline-block;
    text-shadow: 0 0.0625rem 0.0625rem rgba(20,20,20,0.7);
    font-size: 18px;
    font-size: 1.125rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: 0;
}
.nhcol-evaluation-input textarea {
  height: 150px;
  font-size: 12px;
}
.nhcol-evaluation-input input[type="text"],
.nhcol-evaluation-input input[type="email"] {
  height: 35px;
  font-size: 12px;
}
.nhcol-evaluation-input { 
  position: relative;
}
.nhcol-evaluation-input .loading {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #FFF;
  opacity: 0.3;
}
.nhcol-evaluation-single {
  padding: 5px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  margin-top: 1.25rem;
}
.nhcol-evaluation-single h5 {
  display: inline-block;
  padding: 0px;
  margin: 10px !important;
}
.nhcol-evaluation-single h5 i.fa {
  color: #fdd835;
}
.nhcol-evaluation-single h5 a {
  text-decoration: none;
  border: none;
  box-shadow: none;
  color: #202020;
}
.nhcol-evaluation-single .comment {
  margin: 10px;
}
.nhcol-evaluation-single time {
  float: right;
  color: #9f9f9f;
  font-size: 11px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.nhcol-evaluation-single .clearfix {
  clear: both;
}
.evaluation-pagination {
  margin-top: 20px;
}